<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>메인</title>
</head>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<body>
<div class="d-flex justify-content-center align-items-center vh-100" th:if="${session.userId eq null}">
    <div class="text-center">
        <h1>라이프 시맨틱스 과제입니다.</h1>
        <div class="row mt-5">
            <div class="col-md-6">
                <button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='/login'">로그인</button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='/join'">회원가입</button>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center vh-100" th:if="${session.userId ne null}">
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary mx-auto" style="width: 520px;">
        <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
            <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-5 fw-semibold">병원 리스트(스크롤 페이징)</span>
        </a>
        <div id="hospScroll" class="list-group list-group-flush border-bottom" style="max-height: 70vh; overflow-y: auto;"></div>
    </div>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:if="${session.userId ne null}" th:src="@{/js/hospital.js}"></script>
</html>
